<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25264206444-vg52hunct1v5sirlk2rrpl1cpmdihfcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25264206444-vg52hunct1v5sirlk2rrpl1cpmdihfcq</string>
	<key>API_KEY</key>
	<string>AIzaSyDGU4hKD_xM2z_2_EpRXI6SbtpcSuMDnXw</string>
	<key>GCM_SENDER_ID</key>
	<string>25264206444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-79652</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-79652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25264206444:ios:a49825e8ffcbd7a52c1e49</string>
</dict>
</plist>